.mat-toolbar {
  min-height: 32px !important; 
  height: 32px !important;
  background: rgb(12, 6, 6);
  color: #aaa;
  font-size: 15px;
}

.mat-toolbar-row {
  min-height: 32px !important; 
  height: 32px !important;
}