@media (max-width: 599px){
  .mat-tab-label {
    min-width: 56px;
  }
}
@media (max-width: 959px){
  .mat-tab-label {
    padding: 0 12px;
  }
}


@media (max-width: 599px){
  .mat-tab-label {
    padding: 0 12px;
  }
}
.container{
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.contents{
  background: #cccccc;
  padding: 4px 5px;
  margin: 0;
  height: calc(100% - 40px) !important;
  min-height: calc(100% - 40px) !important;
  max-height: calc(100% - 40px) !important;
  overflow: auto;
}

.mat-tab-group{
  height: 100% !important;
}

.main-tab .mat-tab-label {
  height: 36px !important;
  min-height: 36px !important;
  max-height: 36px !important;
    
  padding: 0 12px;
  opacity: 1;
  min-width: 56px;
  text-overflow: ellipsis;
}

.page-contents{
  width: 100% !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}